:root {
  --sidebar-width: 18rem;
  --screen-size: 1065px;
}

.App {
  /* text-align: center; */
  /* background-color: black; */
}



.content {
  align-items: center;
  justify-content: center;
}

/* small screen */
@media only screen and (max-width : 1065px) {
    .content {
      padding-left: 0;
    }
}

/* large screen */
@media only screen and (min-width : 1065px) {
    .content {
        padding-left: var(--sidebar-width);
    }
}

/* 
.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}

@meida (max-width: 200px) {
  .card {
    flex-direction: row;
  }
} */

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
