.kaomoji {
    min-height: 3rem;
    max-height: 3.5rem; 
    /* flex-direction: row; */
    flex-grow: 1; 
    /* margin: 0 auto; */
}

.kaomoji-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
}

.kaomoji-body #name {
    flex: 80%;
    display: grid;
    white-space: nowrap;
    place-items: center;
}

.kaomoji-body #icon {
    flex: 20%;

    /* position: absolute; */
    place-content: end;
}

/* .card-content {
    
    flex-wrap: nowrap;
    align-self: flex-start;

    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;

} */

.card-deck {
    justify-content: center;
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.btn-star {
    background-color: transparent;
    /* display: inline-block; */
    justify-content: center;
    /* margin-left: 1rem; */
    margin-right: 0;
    /* padding: 0 !important; */
    /* box-shadow: none; */
}

.button-img {
    width: 15px;
    height: 15px;
}