/* .kaomoji {
  display: flex;
  min-height: 3rem;

  flex-grow: 1;

}

.kaomoji-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0 0 0 0;
  justify-content: center;
  align-items: center;
}

.kaomoji-body #name {
  flex: 80%;
  display: grid;
  white-space: nowrap;
  place-items: center;
}

.kaomoji-body #icon {
  flex: 20%;

  place-content: end;
} */

.card-deck {
  display: flex;

  flex-wrap: wrap;
}

/* .btn-star {
  justify-content: center;

  margin-right: 0;

  width: 15px;
  height: 15px;
}

.button-img {
  width: 15px;
  height: 15px;
} */

.display-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.img-invert {
  -moz-tranform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
