/* .button {
    display: none;
} */

.card {
    display: flex;
    
    min-width: 50px;
    max-height: 3.5rem;

    flex-grow: 1; 
    margin: 0 auto;
}

/* .card:hover + .button, .button:hover {

    display: contents;
} */

.card-content {
    
    flex-wrap: nowrap;
    align-self: flex-start;

    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* justify-content: left; */
}

.card-deck {
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-star {
    background-color: transparent;
    /* display: inline-block; */
    justify-content: center;
    margin-left: 1rem;
    margin-right: 0;
    padding: 0 !important;
    /* box-shadow: none; */
}

.button-img {
    width: 15px;
    height: 15px;
}