.brand {
    height: 10vh;
    top: 0;
}

.brand a {
    /* display: flex; */
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
}


/* small screen */
@media only screen and (max-width : 1065px) {
    .brand {
        width: 100%;
    }
}

/* large screen */
@media only screen and (min-width : 1065px) {
    .brand {
        width: var(--screen-size);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: 0;
    text-align: center;
    outline: none;
}

.menu.active {
    display: block;

}

.menu.inactive {
    display: none;
}

.sidebar {
    position: absolute;
    width: var(--sidebar-width);
    height: 90vh;
    /* top: 10vh; */
    /* left: 0; */
    /* background-color: blueviolet; */
}

.sidebar.active {
    /* display: block; */
    left: 0;
}

.sidebar.inactive {
    /* display: none; */
    left: -100%;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    /* padding: 1rem;
    padding-top: 0;
    margin: 0;
    background: none; */

    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-item .link {

}
.sidebar-nav-link {
    display: flex;
    /* vertical-align: text-bottom; */
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.sidebar-nav-link svg {
    min-width: 2rem;
    margin: 0 0.25rem 0 1rem;
}

.sidebar-text {
    align-items: center;
    margin-left: 0.2rem;
}
